<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-grid class="ion-text-center">

    <ion-row class="header-row">
      <ion-col>
        <ion-text> Name</ion-text>
      </ion-col>

      <ion-col>
        <ion-text> Email</ion-text>
      </ion-col>

     
      <ion-col>
        <ion-text> Address</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Order Date</ion-text>
      </ion-col>

    </ion-row>

   
        <ion-row>
          <ion-col>
            <ion-text>
              Ladig
            </ion-text>
          </ion-col>
    
          <ion-col>
            <ion-text>
              ladig@gmail.com
            </ion-text>
          </ion-col>
    
          
    
            <ion-col>
              <ion-text>
              kayelitsha
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
                10 jan 2000
              </ion-text>
            </ion-col>
        </ion-row>
    
    
        <ion-row>
          <ion-col>
            <ion-text>
              Rhumsha
            </ion-text>
          </ion-col>
    
          <ion-col>
            <ion-text>
              rhumsha@gmail.com
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
              Phillipi
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
              14 aug 1999
              </ion-text>
            </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-text>
              Abhi
            </ion-text>
          </ion-col>
    
          <ion-col>
            <ion-text>
               abhi@gmail.com
            </ion-text>
          </ion-col>
    
    
            <ion-col>
              <ion-text>
            Guguletoa
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
              10 feb 2020
              </ion-text>
            </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-text>
            Ramsi
            </ion-text>
          </ion-col>
    
          <ion-col>
            <ion-text>
               rams@gmail.com
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
            Saldannah
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
              25 jun 2020
              </ion-text>
            </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-text>
              John
            </ion-text>
          </ion-col>
    
          <ion-col>
            <ion-text>
              john@gmail.com
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
              Bhela
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
             1 jan 2021
              </ion-text>
            </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-text>
               Sham
            </ion-text>
          </ion-col>
    
          <ion-col>
            <ion-text>
              sham@gmail.com
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
              Belvile
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
              20 apr 2015
              </ion-text>
            </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-text>
              Shimi
            </ion-text>
          </ion-col>
    
          <ion-col>
            <ion-text>
                shimi@gmail.com
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
              Soweto
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
               25 march 2021
              </ion-text>
            </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-text>
               Radipalapala
            </ion-text>
          </ion-col>
    
          <ion-col>
            <ion-text>
                radha@gmail.com
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
             botswnana
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
               20 jan 2019
              </ion-text>
            </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-text>
             Hani
            </ion-text>
          </ion-col>
    
          <ion-col>
            <ion-text>
               hani@gmail.com
            </ion-text>
          </ion-col>
    
          
    
            <ion-col>
              <ion-text>
               E.C
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
             15 oct 2018
              </ion-text>
            </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-text>
               Deva
            </ion-text>
          </ion-col>
    
          <ion-col>
            <ion-text>
                deva@gmail.com
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
               Soweto
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
              10 march 2019
              </ion-text>
            </ion-col>
        </ion-row>
    
      </ion-grid>
    </ion-content>