page-home {
    ion-icon {
        font-size: 5em;
    }
}

.userprofile{
    text-align: center;
}


@media screen and (min-width: 419px) {
    .profile, .settings, .emp, .vendor{
        display: inline-block;
        padding-left: 27px;
    }
    
  }

  @media (min-width:320) and (min-width: 419px) {
  .hydrated {
    font-size: 11px !important;
   }
}

 
  