<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Employee List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-grid class="ion-text-center">
    <ion-row class="header-row">
      <ion-col>
        <ion-text>Employee Name</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Employee Email</ion-text>
      </ion-col>

     
      <ion-col>
        <ion-text>Employee Address</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Employee Designation</ion-text>
      </ion-col>

    </ion-row>


    <ion-row>
      <ion-col>
        <ion-text>
           Khaliphe
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
          khalipe@gmail.com
        </ion-text>
      </ion-col>

      

        <ion-col>
          <ion-text>
          zwelitsha
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
           manager
          </ion-text>
        </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-text>
         Mooketsi
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
          mooketsi@gmail.com
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
          gugs
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
           executive office
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
          Alice
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
           alice@gmail.com
        </ion-text>
      </ion-col>


        <ion-col>
          <ion-text>
          Waterfront
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            Medical Assistant
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
        Vuyisile
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
           vuyi@gmail.com
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
          milnerton
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            Web Designer
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
          John
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
          john@gmail.com
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
          Mafikeng
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            President of Sales
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
          Shegem
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
          shegem@gmail.com
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
          Israel
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            Project Manager
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
          Reneei
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
            Reneei@gmail.com
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
           Pretoria
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            Copywriter
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
          Elentra
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
          elentra@gmail.com
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
         Bookap
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            Media Buyer
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
         Nthabi
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
           nthabi@gmail.com
        </ion-text>
      </ion-col>

      

        <ion-col>
          <ion-text>
          Erica
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            Secretary
          </ion-text>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
           Deva
        </ion-text>
      </ion-col>

      <ion-col>
        <ion-text>
            deva@gmail.com
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
           jozi
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            Data Entry
          </ion-text>
        </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>