@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
.header-row {
    background: #7163AA;
    color: #fff;
    font-size: 18px;
  }
  
  ion-col {
    border: 1px solid #ECEEEF;
  }
  ion-title.md.title-default.hydrated {
    text-align: center;
}

@media  (min-width: 320px) and (max-width: 419px) {
ion-row.header-row.ios.hydrated {
  font-size: 14px;
    }
}